/* Container for the login form */
.login-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Styling for the form itself */
.login-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
    display: inline-block;
    text-align: left;
}

    /* Header text */
    .login-form h2 {
        color: #97144d;
        
    }

/* Input fields */
.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Label and input field styles */
.control-label {
    font-weight: bold;
}

/* Login button */
.btn-primary {
    background-color: #97144d;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-top: 10px;
}

    .btn-primary:hover {
        background-color: #ffffff;
        color: #97144d;
    }

/* Forgot password and Register links */
.forgot-password-link,
.register-link {
    margin-top: 10px;
    margin-left: 15px;
}

    .forgot-password-link a,
    .register-link a {
        color: #97144d;
        text-decoration: none;
    }

        .forgot-password-link a:hover,
        .register-link a:hover {
            text-decoration: underline;
        }

    .forgot-password-link a {
        color: #97144d;
        text-decoration: none;
    }

        .forgot-password-link a:hover {
            text-decoration: underline;
        }
