
@{
    ViewBag.Title = "Landing";
}



<style>
    /*Styling for sliding */
    .slider-container {
        width: 500px;
        height: 300px;
        overflow: hidden;
        position: relative;
        margin-left: 100px;
        margin-top: 20px;
    }

    .slider-container {
        width: 500px;
        height: 300px;
        overflow: hidden;
        position: relative;
    }


    .slider {
        width: 1500px;
        height: 300px;
        display: flex;
        transition: transform 0.5s ease;
    }

    .slide {
        width: 500px;
        height: 300px;
    }

    .slider img {
        width: 100%;
        height: 100%;
    }

    .slider-nav {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
    }

        .slider-nav i {
            cursor: pointer;
            font-size: 20px;
            margin: 0 5px;
            color: rgba(0, 0, 0, 0.5);
        }

            .slider-nav i.active {
                color: #000;
            }

            .slider-nav i.active {
                color: #97144c;
            }

    .totalBox {
        margin: 60px;
        border: 1px solid rgb(177, 219, 219);
        box-shadow: 2px 2px 42px 2px 0.2;
        padding: 30px;
        padding-left: 100px;
        border-radius: 10px;
       
    }

    .btnn {
        padding: 7px;
        padding-left: 10px;
        padding-right: 10px;
       background-color: #97144c;
        color: white;
        margin-top: 10px;
    }

    #txtYears {
        width: 45px;
        padding: 7px;
        padding-left: 15px;
    }

    #txtInterest {
        width: 45px;
        padding: 7px;
        padding-left: 12px;
    }

    #txtAmount {
        width: 100px;
        padding: 7px;
    }

    .totalBox {
        background-color: #e80f60;
    }

    input {
        border: none;
        border-bottom: 1px solid #000000;
        background-color: transparent;
        color: #ffffff;
        margin-left: 10px;
        margin-right: 10px;
    }
</style>


<div class="slider-container">
    <div class="slider">
        <div class="slide">
            <img src="https://www.axisbank.com/images/default-source/homebanner/open-by-axis-bank-748x301.jpg"
                 alt="Image 1" />
        </div>
        <div class="slide">
            <img src="https://www.axisbank.com/images/default-source/homebanner/axis-bank-24-7-flexi-credit-banner-748x301.jpg"
                 alt="Image 2" />
        </div>
        <div class="slide">
            <img src="https://www.axisbank.com/images/default-source/homebanner/axis-bank-infinity-savings-account-748x301.jpg"
                 alt="Image 3" />
        </div>
    </div>
    <div class="slider-nav">
        <i class="fas fa-circle active" onclick="showSlide(0)"></i>
        <i class="fas fa-circle" onclick="showSlide(1)"></i>
        <i class="fas fa-circle" onclick="showSlide(2)"></i>
    </div>
</div>
<div class="totalBox">
    <div class="row mt-4">
        <div class="col">
            <div class="input-group">
                Amount you need <!--<span class="input-group-text">&#8377;</span> --><input type="text" onchange="UpdateAmount()" id="txtAmount" class="form-element">
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                for <input type="text" id="txtYears" class="form-element" onchange="UpdateYear()"> years
            </div>
        </div>
        <div class="col">
            <div class="input-group">
                Interest rate <input type="text" id="txtInterest" class="form-element" onchange="UpdateInterest()"> %
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            50,000 <input type="range" id="amountRange" min="50000" max="400000" onchange="AmountChange()"
                          value="50000"> 400000
        </div>
        <div class="col">
            1 <input type="range" min="1" id="yearRange" onchange="YearChange()" value="1" max="5"> 5
        </div>
        <div class="col">
            10.5% <input type="range" min="10" id="interestRange" onchange="InterestChange()" max="21" step="0.5" value="10.5"> 21%
        </div>
    </div>
    <div>
        <button onclick="CalculateClick()" class="btnn">CALCULATE</button>
    </div>
    <div class="result">
        <p id="result" style="color:navajowhite"></p>
    </div>
</div>

<script>
    // JavaScript for sliding functionality
    let currentIndex = 0;
    const slideCount = 3;
    const slideWidth = 500;

    function showSlide(index) {
        currentIndex = index;
        const transformValue = -currentIndex * slideWidth;
        document.querySelector(
            ".slider"
        ).style.transform = `translateX(${transformValue}px)`;

        // Update the active icon
        document.querySelectorAll(".slider-nav i").forEach((icon, i) => {
            if (i === currentIndex) {
                icon.classList.add("active");
            } else {
                icon.classList.remove("active");
            }
        });
    }

    // Initial slide
    showSlide(currentIndex);

    function AmountChange() {
        document.getElementById("txtAmount").value = document.getElementById("amountRange").value;
    }
    function YearChange() {
        document.getElementById("txtYears").value = document.getElementById("yearRange").value;
    }
    function InterestChange() {
        document.getElementById("txtInterest").value = document.getElementById("interestRange").value;
    }

    function UpdateAmount() {
        document.getElementById("amountRange").value = document.getElementById("txtAmount").value;
    }
    function UpdateYear() {
        document.getElementById("yearRange").value = document.getElementById("txtYears").value;
    }
    function UpdateInterest() {
        document.getElementById("interestRange").value = document.getElementById("txtInterest").value;
    }
    function CalculateClick() {
        var p = parseInt(document.getElementById("txtAmount").value);
        console.log(p);
        var r = parseFloat(document.getElementById("txtInterest").value);
        console.log(r);
        var n = parseInt(document.getElementById("txtYears").value);
        n = n * 12;
        console.log(n);
        var emi = "";
        var interest = (p * (r * 0.01)) / n;
        // emi = p*r*(1+r)^n[(1+r)^n-1];
        emi = ((p / n) + interest).toFixed(2);

        console.log(emi);
        document.getElementById("result").innerHTML = `Your Monthly EMI will be ₹${emi} per month`;

    }
</script>




